<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/font-awesome/css/font-awesome.min.css"></link>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<div th:replace="fragments/header :: header"></div>
</head>
<body>

	<h1 class="page-header">Tambah Mahasiswa</h1>

	<form action="/studentx/add/submit" method="get">
		<div class="form-group">

			<label for="usr">Nama Lengkap:</label> <input type="text"
				class="form-control" id="nama"></input>
		</div>

		<div class="form-group">

			<label for="usr">Tempat Lahir:</label> <input type="text"
				class="form-control" id="tempatlahir"></input>
		</div>
			<div class="form-group">

			<label for="usr">Tanggal Lahir:</label>
			  <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
   
		</div>
			<div class="form-group">

			<label for="usr">Jenis Kelamin:</label> 
			 <select class="form-control" id="jeniskelamin">
			 <option>-Pilih-</option>
   			 <option value="0">Laki - Laki </option>
   			 <option value="1">Perempuan</option>
   			  </select>
		</div>
			<div class="form-group">

			<label for="usr">Agama:</label>
			<select class="form-control" id="agama">
			 <option>-Pilih-</option>
   			 <option value="Islam">Islam</option>
   			 <option value="Kristen">Kristen</option>  			 
   			 <option value="Khatolik">Khatolik</option>
   			 <option value="Hindu">Hindu</option>
   			  <option value="Budha">Budha</option>
   			  </select>
		</div>
			<div class="form-group">

			<label for="usr">Golongan Darah:</label> 
				<select class="form-control" id="golongandarah">
			 <option>-Pilih-</option>
   			 <option value="A">A</option>
   			 <option value="B">B</option>
   			 <option value="AB">AB</option>
   			 <option value="O">O</option>
   			
   			  </select>
		</div>
			<div class="form-group">

			<label for="usr">Tahun Masuk:</label> <input type="text"
				class="form-control" id="tempatlahir"></input>
		</div>
			<div class="form-group">

			<label for="usr">Jalur Masuk:</label> 
			<select class="form-control" id="jalurmasuk">
			 <option>-Pilih-</option>
   			 <option value="Undangan Olimpiade">Undangan Olimpiade</option>
   			 <option value="Udangan Reguler / SNMPTN">Udangan Reguler / SNMPTN</option>
   			 <option value="Ujian Tulis Bersama / SBMPTN">Ujian Tulis Bersama / SBMPTN </option>
   			 <option value="Ujian Tulis Mandiri"> Ujian Tulis Mandiri </option>
   			
   			  </select>
		</div>
			<div class="form-group">

			<label for="usr">Id Program Studi:</label> 
			<select class="form-control" id="prodi">
			<option>--pilih--</option>
			<div 	th:each="prodi,iterationStatus: ${prodis}">
			<option th:text="${prodi.nama_prodi}" value="${prodi.id}"></option>
			</div>
			</select>
			
		</div>
		<div>
			<button type="submit" name="action" value="save">Save</button>
		</div>
	</form>

</body>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

</html>
